# Environment settings
env_name: "Ant-v5"
render_mode: "rgb_array"

# Run settings
num_workers: 1  # Number of parallel workers
num_iterations: 1000  # Total number of iterations to run
timesteps_per_iteration: 2048  # Timesteps per iteration
dropout_rates:
  policy: [0.3, 0.4]  # Dropout rates for each layer in the Actor network
  value: [0.0, 0.0]   # Dropout rates for each layer in the Critic network
update_interval: 250  # Number of iterations between network adjustments

# Model settings
algorithm: "PPO"  # Algorithm to use
policy_kwargs:
  activation_fn: "SiLU"  # Activation function for the network
  net_arch: {
    pi: [256, 256],  # Architecture for the policy network
    vf: [64, 64]   # Architecture for the value function network
  }

# Device settings
device: "cpu"  # Device to run the model on (options: "cpu" or "cuda")

# Logging settings
logdir: "logs"  # Directory to save checkpoints and models
